@font-face  {
  font-family: 'dobrozrachniyregular';
  src:url(../fonts/dobrozrachny.woff2) format('woff2'),
  url(../fonts/dobrozrachny.woff) format('woff');
  font-weight: normal;
    font-style: normal; }

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body  {
  font-family: 'dobrozrachniyregular';
}

.test {
  font-size: 2rem;
  color: red;
}
