@font-face  {
  font-family: 'dobrozrachniyregular';
  src:url(../fonts/dobrozrachny.woff2) format('woff2'),
  url(../fonts/dobrozrachny.woff) format('woff');
  font-weight: normal;
    font-style: normal; }

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body  {
  font-family: 'dobrozrachniyregular';
  font-size: 95.83px;
  color: #441f04;
}

.diplom-main  {
  background-color: antiquewhite;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.main-text  {
  font-size: 95.83px;
  line-height: 1.2em;
}

.pattern  {
  width: 100%;
  min-height: 200px;
  background-image: url(../images/pattern.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sign {
  min-height: 200px;
  background-image: url(../images/sign.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.seal {
  min-height: 200px;
  background-image: url(../images/seal.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
